@import "../../utils/variables.scss";

.header {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 1.5rem auto;
  justify-content: space-between;
  .header__search {
    flex-grow: 1;
    height: 100%;
    margin: auto;
    .header__search-form {
      display: flex;
      align-items: center;
      margin: 0 3rem 0 5rem;
      .header__search-input {
        all: unset;
        border-bottom: gray solid 1px;
        color: $primary;
        flex-grow: 1;
        display: flex;
        padding-bottom: 0.25rem;
      }
      .header__search-button {
        all: unset;
        border-bottom: gray solid 1px;
        cursor: pointer;
      }
    }
  }
  .header__my-account{
    all: unset;
    padding: 0 1rem;
    cursor: pointer;
    .header__my-account--image{
        margin-right: 0.5rem;
    }
  }
  .header__cart{
    all: unset;
    display: flex;
    .header__cart-image{
        width: 18px;
        height: auto;
    }
    .header__cart-number-items{
        margin: auto 0 auto 0.25rem;
        color: $secondary;
        background-color: $light-red;
        padding: 3px 5.5px;
        font-size: 10px;
        border-radius: 100%;
        font-weight: 700;
    }
  }
}
